<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gamestudio-Nonogram-Top Scores</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div class="main">
  <div th:replace="fragments/fragments::header"></div>
  <div class="intiscreeen">
    <img src="/images/scores.jpg" class="scoresimage">
    <h2>Top Scores</h2>
  </div>
  <!--<span th:utext="${@scoreService.getTopScores('nonogram')}"></span>-->
  <table class='scores'>
    <thead>
      <tr class='head'>
        <th>Player</th>
        <th>Scores</th>
        <th>Played on</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="score:${scores}">
        <td th:text="${score.getPlayer()}"></td>
        <td th:text="${score.getPoints()}"></td>
        <td th:text="${score.getPlayedOn()}"></td>
      </tr>
    </tbody>
  </table>
  <!--<span th:text="${scores}"></span>-->
  <div th:replace="fragments/fragments::footer"></div>
</div>
</body>
</html>